@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

@font-face {
  font-family: "Minecraft Ten";
  src: url("/assets/fonts/MinecraftTen.woff2") format("woff2"),
    url("/assets/fonts/MinecraftTen.woff") format("woff"),
    url("/assets/fonts/MinecraftTen.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'M04_FATAL FURY';
  src: url('/assets/fonts/M04_FATALFURY.woff2') format('woff2'),
      url('/assets/fonts/M04_FATALFURY.woff') format('woff'),
      url('/assets/fonts/M04_FATALFURY.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  width: 100%;
  min-height: 100vh;
  line-height: 1;
  font-family: "Minecraft Ten";
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.game-menu {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/png/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-content: center;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
}

h1 {
  font-size: 50px;
}

.choices {
  display: flex;
  align-items: center;
  gap: 67px;
  background-image: url(/assets/img/png/choices.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 20px;
  cursor: pointer;
}

.choices:hover {
  opacity: 0.7;
}

.game-choice {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.choices p {
  font-size: 16px;
  line-height: 25px;
  color: black;
  font-family: 'M04_FATAL FURY';
}

.choices img {
  width: 50px;
  aspect-ratio: 1/1;
}

.start {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
}

.menu-container {
  background-image: url(/assets/img/png/panelBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40em;
  height: 40em;
  display: flex;
}

.startButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 15px;
  color: white;
  text-shadow: 2px 2px rgb(116, 116, 116);
  text-transform: uppercase;
  cursor: pointer;
  border: solid 2px black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
  background-color: hsl(49deg 98% 60%);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.startButton:active {
  transform: scale(0.9);
  transition: all 100ms ease;
}

.startButton svg {
  transition: all 0.5s ease;
  z-index: 2;
}

.play {
  transition: all 0.5s ease;
  transition-delay: 300ms;
}

.startButton:hover svg {
  transform: scale(3) translate(50%);
}

.now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 2;
}

.startButton:hover .now {
  transform: translateX(10px);
  transition-delay: 300ms;
}

.startButton:hover .play {
  transform: translateX(200%);
  transition-delay: 300ms;
}

.input::placeholder {
  color: #888;
}

.input:hover {
  transform: translate(-4px, -4px);
  box-shadow: 12px 12px 0 #000;
}

.input:focus {
  background-color: #000;
  color: #fff;
  border-color: #ffffff;
}

.input:focus::placeholder {
  color: #fff;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.input:focus::after {
  content: "|";
  position: absolute;
  right: 10px;
  animation: blink 0.7s step-end infinite;
}

.input:valid {
  animation: typing 0.5s steps(30, end);
}
.input-container {
  position: relative;
  width: 100%;
  max-width: 270px;
}

.input {
  width: 100%;
  height: fit-content;
  padding: 12px;
  font-size: 18px;
  color: #000;
  background-color: #fff;
  border: 4px solid #000;
  border-radius: 0;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 8px 8px 0 #000;
}

.input::placeholder {
  color: #888;
}

.input:hover {
  transform: translate(-4px, -4px);
  box-shadow: 12px 12px 0 #000;
}

.input:focus {
  background-color: #010101;
  color: #fff;
  border-color: #d6d9dd;
}

.input:focus::placeholder {
  color: #fff;
}

.input-container::after {
  content: "|";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.input:focus + .input-container::after {
  color: #fff;
}

.input:not(:placeholder-shown) {
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0px 0px 0 #000;
}
